.outterTile {
	height: 60px;
	width: 60px;
	border: 2px solid black;
	float: left;
	text-align: center;
	background-color: teal;
	color: white;
	font-size: 24px;

}

.innerTile {
	height: 60px;
	width: 60px;
	border: 2px solid black;
	float: left;
	text-align: center;
	background-color: salmon;
	color: white;
	font-size: 24px;
	display: none;

}

.hint {
	border: 2px solid black;
	height: 100px;
	width: 100px;
}

.score {
	border: 2px solid black;
	height: 100px;
	width: 100px;
}
